<div>
  <nz-divider nzOrientation="left" nzText="Notícias"></nz-divider>
  <div nz-row>
    <nz-radio-group (ngModelChange)="changeNoticiaTipo($event)" [(ngModel)]="tipo" nzButtonStyle="solid">
      <label nz-radio-button nzValue="noticia">Notícia</label>
      <label nz-radio-button nzValue="release">Release</label>
    </nz-radio-group>
  </div>
  <div>
    <nz-card nzHoverable *ngFor="let noticia of noticias">
      <small *ngIf="noticia.destaque"><nz-tag [nzColor]="'green'">{{ 'Destaque' }}</nz-tag></small>
      <h4>{{noticia.titulo}}</h4>
      <small>{{noticia.introducao}}</small>
      <br/>
      <small>{{ noticia.data_publicacao }}</small>
    </nz-card>
  </div>
<!--  <div>-->
<!--    <app-paginator-->
<!--      [pagination]="paginacao"-->
<!--      (changePage)="changePage(paginacao.page)"-->
<!--    >-->
<!--    </app-paginator>-->
<!--  </div>-->
  <div nz-row [nzJustify]="'center'" [nzAlign]="'top'">
    <div nz-col nzSpan="24" nz-flex [nzJustify]="'center'" [nzAlign]="'center'">
      <nz-pagination
        (nzPageIndexChange)="changePage($event)"
        [ngModel]="paginacao"
        [nzSimple]="false"
        [nzSize]="'small'"
        [nzResponsive]="true"
        [nzPageIndex]="paginacao.page"
        [nzTotal]="50">
      </nz-pagination>
    </div>
  </div>
</div>

