<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" nzSpan="6">
    <nz-divider nzOrientation="left" nzText="Selecione Países"></nz-divider>
    <nz-select
      id="ufs"
      style="width: 100%"
      nzMode="multiple"
      nzPlaceHolder="Selecione Países"
      (ngModelChange)="changePais($event)"
      [(ngModel)]="selectecPaises">
      <nz-option
        *ngFor="let pais of paises"
        [nzLabel]="pais.nome"
        [nzValue]="pais"
        [nzHide]="!paisIsNotSelected(pais)"
      ></nz-option>
    </nz-select>
    <nz-divider nzOrientation="left" nzText="Selecione Indicadores"></nz-divider>
    <nz-select
      id="indicadores"
      style="width: 100%"
      nzMode="multiple"
      nzPlaceHolder="Selecione Indicadores"
      (ngModelChange)="changeIndicador($event)"
      [(ngModel)]="selectedIndicadores">
      <nz-option
        *ngFor="let indicador of indicadores"
        [nzLabel]="indicador.indicador"
        [nzValue]="indicador"
        [nzHide]="!indicadorIsNotSelected(indicador)"
      ></nz-option>
    </nz-select>
  </div>
  <div nz-col class="gutter-row" nzSpan="18">
    <nz-divider nzOrientation="left" nzText="Comparativos"></nz-divider>
    <div id="chart" style="width: 100%; height: 400px;" *ngFor="let chart of charts">
      <apx-chart [series]="chart.series" [chart]="chartX" [xaxis]="chart.xaxis"></apx-chart>
    </div>
  </div>
</div>
