<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" nzSpan="6">
    Menu de localidades
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
  </div>
  <div nz-col class="gutter-row" nzSpan="18">
    Renderiza conteudo
<!--    <br><br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
<!--    <br><br><br><br><br><br>-->
  </div>
</div>
